body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    height: 100vh;
}

.contenedor-principal {
    display: flex; 
    height: 100%;
}


aside {
    width: 300px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1; 
    padding: 40px;
    overflow-y: auto; 
}

.item-categoria {
    display: flex;
    justify-content: space-between; 
    padding: 12px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.2s;
}

.item-categoria:hover {
    background-color: #eef2f5;
}


.card {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
    border-left: 5px solid #007bff; 
}


.contenedor-centro {
    max-width: 500px;
    margin: 50px auto; 
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.btn-azul { background-color: #007bff; }
.btn-azul:hover { background-color: #0056b3; }

.btn-rojo { background-color: #dc3545; }
.btn-rojo:hover { background-color: #a71d2a; }

.btn-verde { background-color: #28a745; width: 100%; margin-top: 10px;}


.link-cancelar {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: #666;
}

.error { color: red; font-size: 0.85em; }